@page "/contact"
@using MimeKit
@using MimeKit.Text
@using MailKit.Net.Smtp
@layout MainLayout
@inject UserService UserService
@inject FirestoreService Db 

<link href="css/contact.css" rel="stylesheet">

<div id="container">
    <h1>&bull; Contact Us &bull;</h1>   
    <EditForm Model="@contactModel" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        <div class="name">
            <InputText id="name_input" style="color:black;" @bind-Value="contactModel.Name" class="input" placeholder="My name is" />
        </div>
        <div class="email">
            <InputText id="email_input" type="email" @bind-Value="contactModel.Email" class="input" placeholder="My e-mail is" />
        </div>
        <div class="telephone">
            <InputText id="telephone_input" style="color:black;" @bind-Value="contactModel.Telephone" class="input" placeholder="My number is" />
        </div>
        <div class="subject">
            <InputSelect id="subject_input" @bind-Value="contactModel.Subject" class="input">
                <option disabled selected>Subject line</option>
                <option value="Bug">I'd like to report a bug</option>
                <option value="Question">I'd like to ask a question about Munch</option>
                <option value="Proposal">I'd like to make a proposal to improve Munch</option>
            </InputSelect>
        </div>
        <div class="message">
            <InputTextArea id="message_input" @bind-Value="contactModel.Message" class="input" placeholder="I'd like to chat about" />
        </div>
        <div class="submit">
            <button type="submit" id="form_button">Send Message</button>
        </div>
    </EditForm>
</div>

@code {
    private ContactModel contactModel = new ContactModel();

    protected override async Task OnInitializedAsync() {
        string id = UserService.Id;
        User currentUser = await Db.Get<User>(id);
        contactModel.Name = currentUser.Name;
        contactModel.Email = currentUser.Email;
        
    }
    private void HandleValidSubmit()
    {

        string emailAddress = "john.dubuque@ethereal.email";
        string password = System.Environment.GetEnvironmentVariable("EMAIL_PASSWORD");

        var email = new MimeMessage();
        email.From.Add(MailboxAddress.Parse(emailAddress));
        email.To.Add(MailboxAddress.Parse(emailAddress));
        email.Subject = contactModel.Subject;

        string emailContents = $@"
        <h1>This was sent by the Munch application</h1>
        <h4>From: {contactModel.Name}</h4>
        <h4>Email: {contactModel.Email}</h4>
        <h4>Phone: {contactModel.Telephone}</h4>

        Message:
        <p>{contactModel.Message}</p>

        ";

        email.Body = new TextPart(TextFormat.Html) { Text = emailContents };

        using var smtpClient = new SmtpClient();
        smtpClient.Connect("smtp.ethereal.email", 587, MailKit.Security.SecureSocketOptions.StartTls);
        smtpClient.Authenticate(emailAddress, password);
        smtpClient.Send(email);
        smtpClient.Disconnect(true);

    }

    public class ContactModel
    {
        public string Name { get; set; }
        public string Email { get; set; }
        public string Telephone { get; set; }
        public string Subject { get; set; }
        public string Message { get; set; }
    }
}