body {
    font-family: 'Montserrat', Arial, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background: #E4D0FF;  
  }
  

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-card {
    width: 350px; /* Adjust the width as needed */
    padding: 20px;
    box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
    border-radius: 5px;
    background: #fff;
}

.card-body {
    text-align: center;
}

.img-radius {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.user-name {
    font-size: 20px;
    font-weight: bold;
}

.most-visited h6 {
    font-weight: 600;
    color: #333;
}

.most-visited li {
    padding: 5px 0;
    color: #555;
}
